@import "config";

.password-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;

  h1 {
    font-family: $font-inter;
    color: $primary-main;
  }
  input {
    display: block;
    width: 400px;
    margin: 40px auto;
    padding: 10px 20px;
    border: 1px solid $grey-main;
    border-radius: 5px;
  }
  button {
    padding: 10px 40px;
    margin: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="reset"] {
    background-color: $grey-buttons;
    color: black;
  }
  button[type="submit"] {
    background-color: $primary-main;
    color: white;
  }
}
